/* FOOOTER */

.footer-main {
    /*padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;*/
    left: 0px;
    bottom: 0px;
    width: 100%;
  }
  
  footer {
  /*2C4E31*/
    background-color: #1d2b03;
    color: #a7a7a7;
    font-size: 16px;
  }
  
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  
  
  .rows {
    padding-left: 0;
    padding-right: 0;
  }
  .rows.primary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    align-items: stretch;
  }
  
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 10em;
  }
  
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  
  .column ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  
  .column li:not(:first-child) {
    margin-top: 0.8em;
  }
  
  .column ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }
  
  .column ul li a:hover {
    color: #2a8ded;
  }
  
  .about p {
    text-align: justify;
    line-height: 1;
    margin: 0;
  }
  
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  
  }
  
  .social i {
    color: #bac6d9;
  }
  
  .copyright {
    /*586144*/
   /* padding: 0.1em 1em; */
    background-color: #3e4a68 ;
  }
  
  .copyright p {
    margin: 10px;
    padding: 10px;
    font-size: 0.9em;
    text-align: center;
  }
  
  @media screen and (max-width: 850px) {
    .rows.primary {
      grid-template-columns: 1fr;
    }
  }