* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: lightgreen;
}

header {
    background-color: #1d2b03;
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
    height: 15vh;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}
header .volini{
    margin-top: -40px;
    margin-left: 30px;
}

h1 {
    letter-spacing: 1.5vw;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
    padding-top: 15px;
}

h3 {
    letter-spacing: 1vw;
    font-size: 1.5em;
    text-align: center;
    
}
.volini h4, .regi{
    font-size: 1.5em;
    text-decoration: none;
    color: whitesmoke;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100%;
    background: url(../img/fondo-login.png) no-repeat center center;
    background-size: cover;
}

.form_class {
    width: 500px;
    padding: 40px;
    border-radius: 8px;
    background-color: white;
    font-family: 'system-ui';
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.3);
}

.form_div {
    text-transform: uppercase;
}

.form_div>label {
    letter-spacing: 3px;
    font-size: 1rem;
}

.info_div {
    text-align: center;
    margin-top: 20px;
}

.info_div {
    letter-spacing: 1px;
}

.field_class {
    width: 100%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 0px;
    text-indent: 6px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'system-ui';
    font-size: 0.9rem;
    letter-spacing: 2px;
}

.submit_class {
    border-style: none;
    border-radius: 5px;
    height: 40px;
    background-color: #1d2b03;
    color: whitesmoke;
    padding: 8px 20px;
    font-family: 'system-ui';
    text-transform: uppercase;
    letter-spacing: .8px;
    display: block;
    margin: auto;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.form_div a {
    cursor: pointer;
    text-decoration: none;
}
