header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(85,115,31);
    background: radial-gradient(circle, rgba(85,115,31,1) 0%, rgba(5,97,53,1) 73%);
    height: 10%;
    width: 100%;
    padding: 0 20px;
    opacity: 85%;
  }

  .control-menu {
    display: none;
   }

  .logo img {
    height: 100px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline-block;
    position: relative;
  }

  nav ul li a {
    font-size: 20px;
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  
  }

  .fa-shopping-cart{
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    /* margin-left: 30px; */
  }
  
  .user-log {
    color:#fff;
    font-size: 1.4rem;
    margin-left: 30px;
    margin-right: 30px;
  }

  .logout {
    /* margin-left: 20px; */
    margin-right: 20px;
  }

  nav ul li a:hover {
    background: #6c7f4a;
    border-radius: 2px;
    color: white;
  }

  nav ul li:hover>ul {
    display: block;
    background: #6c7f4a;
    width: 150px;
  }

  nav ul ul {
    display: none;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 0;
    margin: 0;
    /* border: 1px solid #ccc; */
    border: none;
  }

  nav ul ul li {
    display: block;
  }

  nav ul ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }

  nav ul ul li a:hover {
    background-color: #565151;
  }

  .logout {
    margin-left: 100px;
    margin-right: 20px;
  }

  @media (max-width: 768px){
    header {
      display: block;
      flex-direction: column;
      height:350px;
    }
    .logo img {
      margin-bottom: 10px; /* Añade un margen inferior al logo para separarlo de los elementos del menú */
    }
  
    nav ul li {
      display: block;
      margin-top: 10px; /* Añade un margen superior a los elementos del menú para separarlos */
    }
    nav ul li a {
      padding: 5px; /* Reduce el padding de los elementos del menú para adaptarlos a pantallas más pequeñas */
      font-size: 16px; /* Reduce el tamaño de fuente de los elementos del menú para adaptarlos a pantallas más pequeñas */
    }
    nav ul li:hover>ul {
      width: 100%; /* Haz que el submenu ocupe todo el ancho de la pantalla en pantallas más pequeñas */
    }
    .logout {
      margin: 2px;
    }
  
    #search, .logo {
      display: none;
    }

  }
