header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #424d2e;
  height: 20%;
  padding: 0 20px;
}

.logo img {
  height: 100px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  font-size: 20px;
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;

}

nav ul li a:hover {
  background: #6c7f4a;
  border-radius: 2px;
  color: white;
}

nav ul li:hover>ul {
  display: block;
  background: #6c7f4a;
  width: 150px;
}

nav ul ul {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 0;
  margin: 0;
  /* border: 1px solid #ccc; */
  border: none;
}

nav ul ul li {
  display: block;
}

nav ul ul li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}

nav ul ul li a:hover {
  background-color: #565151;
}

.logout {
  margin-left: 100px;
  margin-right: 20px;
}


@media (max-width: 576px){
  .header {
    display: block;
    height: 100%;
    align-items: center;
    background-color: #424d2e;
    padding: 0 20px;
    text-align: left;
  }

  nav ul li {
    display: block;
    
  }

  .logout {
    margin: 2px;
  }

  #search, .logo {
    display: none;
  }
}