body{
    margin: 0;
    padding: 0;
}

.margen{
    margin: 2%;
}

.titulo{
    margin: 10px 0 0 0;
}

.titulo h1{
    display: block;
    margin: auto auto;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 20ch;
    text-align: center;
    animation: typing 2s steps(12), blink .5s infinite step-end alternate;
    overflow:hidden;
}

@keyFrames typing {
    from { width: 0}
}

@keyFrames blink {
    50% { border-color: transparent}
}

.contenedor-video{
    margin: 0 0 90px 0;
}
.video-frame{
    margin: 0;
    width: 100%;
    display: flex;
}

.H1{
    padding-top: 100px;
}
.H2{
    padding-top: 100px;
}
.H3{
    padding-top: 100px;
}

/* ****************************************************** */

@media (min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 4rem;
    }

    .contenido-maps{
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }

}    

.entrada{
    border-bottom: 1px slid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}

.boton{
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem ;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold 700;
    margin-bottom: 2rem;
    border: none;
}

.boton:hover{
    cursor: pointer;
}


/*==============================BOTON==================================*/
/* button {
    margin: 20px;
  }  */
  .cont-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-1{
    width: 130px;
    height: 40px;
    line-height: 42px;
    /* border-radius: 15px; */
    background: #acd25b;
    color: #000;
    /* display: block;
    margin-right: auto;
    margin-left: auto; */
  }

  .btn-1:hover{
    color: #fff;
    background: #2c421e;
    box-shadow: none;
  }

  

  /* .btn-1::before, .btn-1::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0px;
    background: #f0094a;
    box-shadow: -1px -1px 5px 0px #FFF,
    7px 7px 20px 0px #0003, 4px 4px 5px 0px #0002;
    transition: 400ms ease all;
  } */

  /*================================BOTON fin ==========================================*/

/*=========================ROULETTE=============================================================*/
.slides {
    padding: 0;
    width: 100%;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 615px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 615px;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 615px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 0px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -10px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5{
	background: rgba(255, 254, 254, 0.8);
}
/*=========================ROULETTE=============================================================*/

/*================================div parte2===================================*/


/* ****************************************************** */



@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
        column-gap: 1rem;  
    }
}

.imagen-turistica{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen-turistica h3{
    font-weight: 400;
}

.imagen-turistica p{
    line-height: 2;
    text-align: center;
    cursor: context-menu;
}

.contenedor-imagen-turistica img{
    width: 100%;
    height: 200px;
    border-radius: 0px;
}


.imagen-turistica .contenedor-imagen-turistica{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}




/*================================div parte2===================================*/

/*==================================div parte3==================================*/
.mapaimposible{
    background: white;
    width: 100%;
}
.mapaRimpo{
    width: 100%;
    height: 350px;
} 
/*==================================div parte3==================================*/