/*=========================================================== BANNER ===================================================================*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-plantilla {
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    max-width: 100%;
    text-align: center;
    color: #34373b;
}

.banner h1 {
    font-size: 5em;
    font-weight: 900;
    margin: 0;
}

.banner p {
    font-size: 2em;
    font-weight: 500;
    margin-top: 10px;
}

.banner .boton-pl {
    display: inline-block;
    margin-top: 50px;
    padding: 18px 80px;
    background-color: #34373b;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
}

.banner .boton-pl:hover, .btnR .boton:hover {
    background-color: #57554d;
}

.btnR .boton {
    background-color: #34373b;
    margin-top: 100px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}


/*========================================================== FIN BANNER ================================================================*/

/*========================================================== Main ======================================================================*/
.contenedor-pri{
    margin: 1cm;
}
/*======================================================================================================================================*/

/*========================================================== Parte de Section ==========================================================*/
.title {
    color: #34373b;
    font-size: 2cm;
    text-align: center;
}

.text-intro{
    font-size: 1cm;
    text-align: justify;
}

.conteiner-A{
    margin-bottom: 2cm;
}
/*========================================================= FIN SECTION =================================================================*/

/*========================================================= PARTE ARTICLE ================================================================*/
.subtitle{
    font-size: 1cm;
    text-align: center;
    margin-bottom: 50px;
}

.cont-art{
    display: flex;
}

.parr2{
    display: flex;
}

.text-info-pl{
    font-size: 17px;
    margin: 15px;
    text-align: justify;
}

.imge img{
    border-radius: 15px;
    width: 450px;
    margin-bottom: 20px;
}

.cont-mapa iframe{
    width: 800px;
    height: 100%;
    border-radius: 15px;
}
/*========================================================= FIN ARTICLE ==================================================================*/

/*========================================================= SECTION Testimonio ===============================================================*/
.conteiner-B{
    background-color: rgb(33, 32, 32);
    height: 20cm;
    margin: 0;
    padding-top: 55px;
}

.title-r{
    color: white;
    font-size: 20px;
    margin-left: 90px;
    text-align: center;
  /*--------------------------*/
}
/*------------------------------------------------------------------------------------------------------------------*/
:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1300px;
}

.ayuda{
  margin:60px;
}

.card-grid-pl{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
  margin: 0px auto;
}

@media(min-width: 540px){
  .card-grid-pl{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid-pl{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card-plg{
  list-style: none;
  position: relative;
}

.card-plg:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card-plg:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid-pl:hover > .card-plg:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}
/*------------------------------------------------------------------------------------------------------------------*/
/*========================================================= FIN SECTION Testimonio ===========================================================*/

/*========================================================= SECTION RESERVAR ==============================================================*/
.title-pr h1{
    font-size: 35px;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
  }

  nav ul li a {
    font-size: 22px;
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
  }

  nav ul li a:hover {
    background: #788a07;
    border-radius: 2px;
    color: white;
  }

  nav ul li:hover>ul {
    display: block;
    background: #6c7f4a;
    width: 150px;
  }
  .cont-pre{
    display: flex;
    height: 150px;
  }

  .menu-pl{
    position: relative;
    left: 6%;
    top: 15px;
  }

  .btnR{
    position: relative;
    left: 55%;
    top: -140px;
  }

  .cont-pre-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }

  .container{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }

  .front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back{
    background: #df4242;
    background: -webkit-linear-gradient(45deg,  #ffffff 0%,#c3c4bc  100%);
    background: -o-linear-gradient(45deg,  #ffffff 0%,#c3c4bc   100%);
    background: linear-gradient(45deg,  #ffffff 0%,#c3c4bc  100%);
    color: #000000;
  }

  .front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back{
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

.front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 3em;
    margin-bottom: 40px;
  }

  .banner h1{
    font-size: 3em;
  }

  .banner p {
    background: white;
    opacity: 0.70;
  }

  .text-intro {
    font-size: 1.5em;
  }

  .subtitle {
    font-weight: 700;
  }

  .articulos, .cont-art, .parr2 {
    display: block;
  }

  .cont-mapa iframe{
    width: 100%;
    height: 300px;
  }

  .conteiner-B {
    height: 100%;
  }

  .cont-r-p, .testi {
    display: block;
  }

  .title-r {
    text-align: center;
    margin: 0;
    padding: 10px;
  }

  .cont-pre {
    display: block;
  }

  .cont-pre-1 {
    display: block;
    margin-top: 300px;
  }
  
  .col {
    width: 100%;
  }

  .btnR {
    position: static;
  }

  .conte-e {
    display: block;
  }

  .img-t {
    margin: auto;    
    width: 100%;
    text-align: center;
  }

  .img-t p {
    margin: 30px;
    text-align: justify;
  }

  hr {
    border: none; height: 10px; /* Set the hr color */ color: #333; /* old IE */ background-color: #333; /* Modern Browsers */

  }

  .title-pr, .title-pr p {
    text-align: center;
  }

}

/*========================================================= FIN SECTION RESERVAR ==========================================================*/