body{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	font-size: 12px;
}

.bod{
	position: fixed;
	top: -20px;
	left: -30px;
	right: -30px;
	bottom: -40px;
	width: auto;
	height: auto;
	opacity: 75%;
	background-image: url("../img/fondo-reserva.jpeg");
	background-size: cover;
	-webkit-filter: blur(6px);
	z-index: -1;
}
.contenedor-reserva{
	/* background: rgb(183,233,138);
background: radial-gradient(circle, rgba(183,233,138,1) 10%, rgba(62,86,115,1) 100%); */
background: rgb(117,157,203);
background: linear-gradient(90deg, rgba(117,157,203,1) 0%, rgba(170,196,223,1) 100%);
	position: absolute;
	top: 220px;
	left: 100px;
	right: -30px;
	bottom: -40px;
	width: 85%;
	height: 70%;
	opacity: 80%;
}

/* .grad{
	position:fixed;
	top: -20px;
	left: -30px;
	right: -30px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
	z-index: 1;
	opacity: 0.7;
} */

.head{
	position: absolute;
	top: 55%;
	left: 35%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.head div{
	float: left;
	color: #020202;
	font-family: 'Exo', sans-serif;
	font-size: 5vw;
	font-weight: 200;
}

.head div span{
	color: #4a0606
}

/* .reserva{

	position: absolute;
	top: calc(35% - 75px);
	left: calc(70% - 50px);
	height: 570px;
	width: 350px;
	padding: 10px;
	z-index: 2;
	background: rgb(127,156,178);
background: linear-gradient(90deg, rgba(127,156,178,1) 0%, rgba(18,161,201,1) 100%);
} */
.reserva {
	position: absolute;
	top: 35%;
	left: 72%;
	transform: translate(-25%, -15%);
	height: 29vw; /* Ejemplo de altura responsive usando vw */
	width: 19vw; /* Ejemplo de ancho responsive usando vw */
	padding: 2vw; /* Ejemplo de padding responsive usando vw */
	z-index: 1;
	background: rgb(127, 156, 178);
	background: linear-gradient(90deg, rgba(127, 156, 178, 1) 0%, rgba(18, 161, 201, 1) 100%);
}

/*Head*/
@media screen and (max-width: 768px) {
	.head {
		/* top: 55%;
	left: 35%;
	transform: translate(-15%, -600%); */
	display: none;
	}
}

/*Reserva form*/
@media screen and (max-width: 1669px) {
	.reserva {
		top: 37%;
		left: 74%;
		height: 37vw;
		width: 17vw;

		
	}
}
@media screen and (max-width: 768px) {
	.reserva {
		top: 39%;
		left: 40%;
		height: 70vw;
		width: 40vw;
		z-index: -1;
	}
}

@media screen and (max-width: 768px) {
	.contenedor-reserva {
		display: none;
		
	}
}

/* .reserva input[type=text]{
	width: 335px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 3px;
	color: rgb(255, 255, 255);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 20px;
	padding: 4px;
}

.reserva input[type=date]{
	width: 335px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	color: #ffffff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.reserva input[type=time]{
	width: 335px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	color: rgb(255, 255, 255);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.reserva input[type=number]{
	width: 335px;
	height: 40px;
	background: transparent;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 2px;
	color: rgb(255, 255, 255);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.reserva input[type=button]{
	width: 340px;
	height: 40px;
	background: #fff;
	border: 1px solid #0c0c0c;
	cursor: pointer;
	border-radius: 2px;
	color: rgb(0, 0, 0);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
} */

.reserva input[type=text],
.reserva input[type=date],
.reserva input[type=time],
.reserva input[type=number],
.reserva input[type=button] {
	width: 98%; /* Ejemplo de ancho responsive usando % */
	height: 40px;
	background: transparent;
	border: 1px solid rgba(0, 0, 0, 0.6);
	border-radius: 2px;
	color: rgb(255, 255, 255);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 1px;
	margin-top: 10px;
	margin-bottom: 15px;
}
@media screen and (max-width: 800px) {
	.reserva input[type=text],
	.reserva input[type=date],
	.reserva input[type=time],
	.reserva input[type=number],
	.reserva input[type=button] {
		width: 100%; /* Ajusta el ancho al 100% en pantallas pequeñas */
	}
}

.reserva input[type=button]:hover{
	opacity: 0.8;
	color: #0c0c0c;
}

.reserva input[type=button]:active{
	opacity: 0.6;
}

.reserva input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.reserva input[type=date]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.reserva input[type=time]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.reserva input[type=number]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.reseerva input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
